.menu {
  color: var(--color-text);
  padding-top: 200px;
  background-color: var(--color-bg);
}

.title {
  font-size: 3rem;
  padding: 40px;
}

.subTitle {
  font-size: 2rem;
  padding: 40px;
}
.subDescription {
  font-size: 1.5rem;
  padding: 40px;
}

.menuImages {
width: 100%;
}

.food {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  justify-items: center;
  align-items: start;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .food {
    grid-template-columns: 1fr; /* Switch to a single column layout */
    gap: 10px;
  }
}