.about {
  color: var(--color-text);
  background-color: #1a1a1a;
  padding-bottom: 80px;
}

.imagePi {
  width: 500px;
  height: auto;

}

.imagePa {
  width: 500px;
  height: auto;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
  padding-left: 20px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.who {
  display: flex;
  flex-direction: row-reverse;

  gap: 20px;
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

p {
  font-size: 2.5rem;
}

/* 🔹 Responsive Design 🔹 */
@media screen and (max-width: 830px) {
  .top {
    flex-direction: column;
    align-items: center;
  }

  .who {
    flex-direction: column;
  }

  .imagePi {
    width: 300px;
  }

  .imagePa {
    width: 300px;
  }

  .title {
    font-size: 2rem;
  }

  p {
    font-size: 2rem;
  }
}